{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true,
    "amd": true,
    "commonjs": true
  },
  "parserOptions": {
    "sourceType": "module",
    "jsx": true,
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "jsx": true
    }
  },   
  "extends": [
    "eslint:recommended",
    "react-app",
    "plugin:react/recommended"
  ],
  "plugins": [
    "jest",
    "prettier",
    "react"
  ],
  "rules": {
    "indent": "off",
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "prettier/prettier": "error"
  }
}